.box1 {
    width: 400px;
    height: 200px;
    border: 10px solid paleturquoise;
    overflow: scroll;
}

.box2 {
    border: 5px solid peru;
    width: 400px;
    height: 200px;
}

.images .logo {
    width: 100px;
    height: 100px;
}